[class*=col] {
    background-color: #006cfa;
    min-height: 2rem;
    border: 1px solid white;
}

[class*=col] div {
    background-color: #00e165;
    border-color: #006cfa;
}

[class*=section] {
    margin-bottom: 4rem;

}

.row {
    min-height: 2rem;
}

.big {
    padding: 2rem;
}

h2 {
    text-align: center;
    margin-bottom: 2rem;
}

h3 {
    margin-bottom: 1rem;
    margin-top: 1rem;
}

.text {
    color: white;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}