[class*=col] {
    background-color: #006cfa;
    min-height: 1rem;
    border: 1px solid white;
}

[class*=col] div {
    background-color: #00e165;
    border-color: #006cfa;
}

/* [class*=colbig] {
    background-color: #006cfa;
    height: 100%;
    border: 1px solid white;
} */



.row {
    min-height: 1rem;
}